.profile-stats
  %h4 User statistics
  %ul.demo-list-item.mdl-list
    %li.mdl-list__item
      %span.mdl-list__item-primary-content
        Events attended:
        %b 15
      %a.mdl-list__item-secondary-action{:href => "#"}
        %i.material-icons local_movies
    %li.mdl-list__item
      %span.mdl-list__item-primary-content
        Friends met:
        %b 25
      %a.mdl-list__item-secondary-action{:href => "#"}
        %i.material-icons people
    %li.mdl-list__item
      %span.mdl-list__item-primary-content
        Events rated:
        %b 6
      %a.mdl-list__item-secondary-action{:href => "#"}
        %i.material-icons star
