- if user_signed_in?
  %li= link_to 'Edit profile', edit_user_path(current_user)

%h1
  About user
%h4
  Name
  %p
    = user.try(:first_name)
    = user.try(:last_name)
%h4
  Email
  %p= user.email

%h4
  City
  %p=user.try(:city).try(:name)
