.demo-list-three
  .mdl-card.mdl-shadow--6dp
    .mdl-card__title.mdl-color--primary.mdl-color-text--white
      %h2.mdl-card__title-text Informacja o Meetme (PL)
    .mdl-card__supporting-text
      Autorem niniejszego serwisu jest Zuzanna Stolińska.
      %br
      Serwis ten stanowi integralną część pracy magisterskiej (kierunek: Elektroniczne
      Przetwarzanie Informacji), przygotowanej pod kierunkiem dr. inż. Aleksandra Smywińskiego-Pohla
      na Wydziale Zarządzania i Komunikacji Społecznej Uniwersytetu Jagiellońskiego.

.demo-list-three
  .mdl-card.mdl-shadow--6dp
    .mdl-card__title.mdl-color--primary.mdl-color-text--white
      %h2.mdl-card__title-text About Meetme (ENG)
    .mdl-card__supporting-text
      The author of this application is Zuzanna Stolińska.
      %br
      This application is an integral part of a master thesis (field of study: Human-Computer Interaction),
      supervised by Dr Engineer Aleksander Smywiński-Pohl
      on Faculty of Management and Social Communication of the Jagiellonian University.
