.profile-stats
  %h4 Statistics
  %ul.demo-list-item.mdl-list.profile__list
    %li.mdl-list__item
      %span.mdl-list__item-primary-content
        Events attended:
      %a.mdl-list__item-secondary-action
        %b 15
        %i.material-icons local_movies
    %li.mdl-list__item
      %span.mdl-list__item-primary-content
        Friends met:
      %a.mdl-list__item-secondary-action
        %b 25
        %i.material-icons people
    %li.mdl-list__item
      %span.mdl-list__item-primary-content
        Events rated:
      %a.mdl-list__item-secondary-action
        %b 6
        %i.material-icons star
