default: &default
  adapter: postgresql
  encoding: unicode
  pool: 5
  username: root
  host: localhost

development:
  <<: *default
  database: meetme_development

test:
  <<: *default
  database: meetme_test
