/* ==========  Select Field Variables ========== */
$color-black: "0,0,0";
$select-background-color: transparent;
$select-border-color: unquote("rgba(#{$color-black}, 0.12)") !default;
$select-font-size: 16px;
$select-color: unquote("rgba(#{$color-black}, 0.26)") !default;
$select-padding: 4px;

.events__event-box {
  width: 650px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.demo-card-wide.mdl-card {
  width: 650px;
}
.demo-card-wide > .mdl-card__title {
  color: #fff;
  height: 300px;
  background: url('flat_theater.jpg') center / cover;
}
.demo-card-wide > .mdl-card__menu {
  color: #fff;
}

.events-list {
  width: 650px;
}

.box-centered {
  margin: auto;
}

.mdl-card {
  width: 650px;

  .mdl-textfield {
    width: 600px;
    margin: auto;
  }

  .mdl-card__supporting-text {
    margin: auto;
  }

  .form-submit-button {
    float: right;
  }

  /* Hide label */
  .mdl-selectfield label {display: none;}
  /* Use custom arrow */
  .mdl-selectfield select {appearance: none}
  .mdl-selectfield {
    font-family: 'Roboto','Helvetica','Arial',sans-serif;
    position: relative;
      &:after {
        position: absolute;
        top: 0.75em;
        right: 0.5em;
        /* Styling the down arrow */
        width: 0;
        height: 0;
        padding: 0;
        content: '';
        border-left: .25em solid transparent;
        border-right: .25em solid transparent;
        border-top: .375em solid $select-border-color;
        pointer-events: none;
    }
  }

  /* Style Select Field */
  select {
    font-family: inherit;
    background-color: transparent;
    width: 100%;
    padding: $select-padding 0;
    font-size: $select-font-size;
    color: $select-color;
    border: none;
    border-bottom: 1px solid $select-border-color;
  }
}
