a {
  style: none;
}

events-list {
  width: 650px;
}

.layout-transparent {
  // background-image: image-url('theater.jpg');
  background-position: center;
  background-size: cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}

.demo-list-three {
  width: 650px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}
