html {
  height: 100%;
}

body {
  min-height: 100%;
}

a:-webkit-any-link{
text-decoration:none !important;
}

a {
  color: #FFCB00;
}

a:hover, a:active {
  color: #FFAD00;
}

.special-button {
  background-color: #FFCB00;

  a {
    color: #FFFFFF;
    font-weight: 500;
  }
}

.special-button:hover {
  background-color: #FFAD00;
}

.layout-transparent {
  // background-image: image-url('theater.jpg');
  background-position: center;
  background-size: cover;
}
.layout-transparent .mdl-layout__header,
.layout-transparent .mdl-layout__drawer-button {
  /* This background is dark, so we set text to white. Use 87% black instead if
     your background is light. */
  color: black;
}

.demo-list-three {
  width: 650px;
  margin-top: 50px;
  margin-left: auto;
  margin-right: auto;
}

.mdl-list__item {
  border-style: solid;
  border-width: 0.1px 0.1px 0px 0.1px;
  border-color: rgba(0,0,0, 0.14);
}

.mdl-list {
  border-style: solid;
  border-color: rgba(0,0,0, 0.14);
  border-width: 0px 0px 0.1px 0px;
  padding: 8px 0 0 0;
}
